numpy
pillow
psutil
setproctitle
pyyaml
tqdm
tensorboard
pycocotools
scipy
certifi
chardet
et-xmlfile
idna
jdcal
requests
ruamel.yaml
ruamel.yaml.clib
urllib3
flask
gunicorn
gevent
paho-mqtt
Celery
dill
